#navbar{
    background-color: #008601;
    color: #ccd2db;
    padding-top: 20px;
    padding-bottom: 20px;
}

#loginbutton{
    position: relative;
    left: 740px;
}

#signupbutton{
    position: relative;
    left: 750px;
}

#info-row{
    padding-top: 60px;;
}
#sticky-footer{
    height: 100px;
}